<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{images/logo.png}">
        <title>Добавить автора</title>

        <link rel="stylesheet" th:href="@{styles/style.css}">
    </head>
    <body>
        <div th:insert="~{header.html}"></div>

        <form action="#" th:action="@{/add-author}" th:object="${author}" method="post" name="add" id="add" class="form_content" enctype="multipart/form-data">
            <div class="fieldset">
                <h2 class="whole-row">Добавить автора</h2>

                <p>
                    <label for="name">Имя:</label> <br>
                    <input  th:field="*{name}"  type="text" name="name" id="name" required autofocus placeholder="Имя">
                </p>
                <p>
                    <label for="description">Описание:</label> <br>
                    <input  th:field="*{description}"  type="text" name="description" id="description" required placeholder="Описание">
                </p>

                <p>
                    <label for="name">Портрет:</label> <br>
                    <input type="file" name="file" class="form-control-file" accept="image/png, image/jpeg">
                </p>

                <div class="button-row">
                    <button type="submit" name="submit" class="button1 button2 whole-row submit-button">Добавить</button>
                </div>
            </div>

            <span class="form-square form-square1"></span>
            <span class="form-square form-square2"></span>
            <span class="form-square form-square3"></span>
            <span class="form-square form-square4"></span>
            <span class="form-square form-square5"></span>
        </form>
    </body>
</html>
