<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <footer>
            <div class="footer-div">
                <h2><strong>Digital<br> Learning<br> Library</strong></h2>
            </div>

            <div class="footer-div">
                <h3>Контакты:</h3>
                <a href="tel:01234567890" class="button old-social">Позвонить в тех поддержку</a>
                <a href="mailto:fakemail@gmail.com" class="button old-social">Написать письмо в тех поддержку</a>
            </div>

            <div class="footer-div">
                <h3>Соцсети:</h3>
                <div class="stable-row">
                    <a href="https://vk.com" class="button button1 new-social">
                        <img th:src="@{/images/VK.png}" width="50px" height="50px">
                    </a>
                    <a href="https://telegram.org" class="button button1 new-social">
                        <img th:src="@{/images/TG.png}" width="50px" height="50px">
                    </a>
                    <a href="https://www.youtube.com" class="button button1 new-social">
                        <img th:src="@{/images/YT.png}" width="50px" height="50px">
                    </a>
                </div>
            </div>


            <div class="footer-div">
                <h3>О нас:</h3>
                <p>
                    Digital Learning Library - новый перспективный проект. Сайт позволяет просматривать книги, а так же с лёгкостью добавлять новые книги
                </p>
            </div>
        </footer>
    </body>
</html>
