<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" th:href="@{images/logo.png}">
        <title>DLL</title>

        <link rel="stylesheet" th:href="@{styles/style.css}">
    </head>

    <body>
    <div th:insert="~{header.html}"></div>

        <main>
            <div class="aside">
                <aside>
                    <h2 id="news">Новости сайта:</h2>
                    На сайте скоро могут появиться рекомендации книг, ссылки на источники книг их резервирование!
                </aside>
            </div>

            <section>
                <h2 id="popular"><i>Популярные сейчас:</i></h2>

                <ol>
                    <li><cite><a>Преступление и наказание</a></cite></li>
                    <li><cite><a>Евгений Онегин</a></cite></li>
                    <li><cite><a>Мёртвые души</a></cite></li>
                </ol>
            </section>

            <section>
                <h2 id="red"><i>Прочитанные ранее:</i></h2>

                <ul>
                    <li><cite><a>Преступление и наказание</a></cite></li>
                    <li><cite><a>Сказка о царе Салтане</a></cite></li>
                    <li><cite><a>Руслан и Людмила</a></cite></li>
                </ul>
            </section>

            <section>
                <h2 id="new"><i>Новинка!</i></h2>

                Новая книга <cite><a>Мёртвые души</a></cite> <cite><a>Гоголя</a></cite> недавно вышла, однако сразу вошла в топ-3 книг по сайту!

            </section>

            <section class="left-side-section">
                <article>
                    <h2 id="info"><i>Почему стоит читать:</i></h2>
                    <p>
                        Регулярное чтение позволяет лучше формулировать собственные мысли. Благодаря книгам появляется возможность расширить круг общения,
                        стать интересным собеседником и начать получать удовольствие от взаимодействия с миром. Не говоря уже о том,
                        что прочитанное положительно влияет на наше сознание, шлифует речь и формирует собственный взгляд на вещи.
                        Обеспечить полноценную работу мозга на долгие годы.
                    </p>
                    </article>
            </section>

            <section class="left-side-section">
                <article>
                    <h2 id="history"><i>История книг:</i></h2>
                    <p>
                        История книги — это история технических новшеств, связанных с изготовлением книг.
                        Эти новшества улучшали хранение текста, доступность информации, мобильность книги, уменьшали стоимость её производства.
                        После изобретения древними цивилизациями систем записи люди начали использовать для письма почти все,
                        на чём можно писать — глиняные таблички, кору дерева, листы металла и т. п.
                    </p>
                </article>
            </section>

            <div th:insert="~{footer.html}"></div>
        </main>

    </body>
</html>
